.container {
  padding: 0 20px;
}

.advertisement-container {
  border-radius: 30px;
  max-width: 335px;
  max-height: 363px;
  background: #0c0c0c;
  background-image: url(/img/advertisement/advertisement-bgc-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 30px 0;
}

.advertisement-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  width: 279px;
  margin-bottom: 28px;
  padding: 60px 28px 0 28px;
  text-align: center;
}

.advertisement {
  border-radius: 30px;
  max-width: 335px;
  max-height: 363px;
  background: #0c0c0c;
  background-image: url(/img/advertisement/advertisement-bgc-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 60px 0;
}

.advertisement-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  width: 279px;
  margin-bottom: 28px;
  padding: 60px 28px 0 28px;
  text-align: center;
}

.advertisement-text-color {
}

.advertisement-btn {
  display: block;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  width: 160px;
  height: 48px;
  min-width: 160px;
  padding-bottom: 60px;
}
