
.reviews-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.tablet {
    display: none;
}

.desktop {
    display: none;
}

.reviews-item {
    background-color:  #f3f3f3;
    border-radius: 30px;
}

@media screen and (min-width: 768px) {
    .tablet {
        display:block;
    }
}

@media screen and (min-width: 1280px) {
    .desktop {
        display:block;
    }
}